[project]
id = "gradethread"

[api]
port = 54321
schemas = ["public", "storage"]
extra_search_path = ["public", "extensions"]

[auth]
site_url = "https://gradethread.com"
additional_redirect_urls = ["http://localhost:5173/auth/callback", "https://gradethread.com/auth/callback"]
jwt_expiry = 3600
enable_signup = true

[auth.email]
enable_signup = true
double_confirm_changes = true
enable_confirmations = true

[auth.external.google]
enabled = true
client_id = ""
secret = ""
redirect_uri = ""
